<html>
    <head>
        <title>stonks</title>
        
        <!--The following two tags give you access to easy UI elements by Semantic UI-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        
    </head>
    
    <body>
        <!--Adding a container to provide some margin around the table-->
        <div class="ui container">
        <h1>Stock list</h1>
                    
        <form method="get">
            <select name="filter">
                <option value="">All stocks</option>
                <option {% if request.query_params.filter == 'new_closing_highs' %}selected="selected"{% endif %}
                        value="new_closing_highs">New Closing Highs</option>
                <option {% if request.query_params.filter == 'new_closing_lows' %}selected="selected"{% endif %}
                        value="new_closing_lows">New Closing Lows</option>
            </select>
            <input type="submit" />
            </form>
            
         <!--Different table styles can be found at: https://semantic-ui.com/collections/table.html.
        Change <table class=""> to adjust style-->
        <table class="ui striped table">
            
          <!--Table head describes column names-->  
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
            </tr>
          </thead>
            
          <!--We loop through each stock and write it to the table-->  
          <tbody>
              {% for stock in stocks %}
            <tr>
                <td>{{stock.symbol}}</td>
                <td><a href="/stock/{{stock.symbol}}">{{stock.name}}</a></td>
            </tr>
              {% endfor %}
          </tbody>
        </table>
    
        
        
        </div>
        
        
       
        
    </body>
</html>