<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .positive:before { content: "+"; color: 
green; }
        .positive { color: 
green; }
        .negative { color: 
red; }
        th, td { padding: 1em; }
        body { margin: 2em auto; max-width: 80em; }
    </style>
    <body>
        <form action="/" method="post">
          <select name="index" id="index">
            <option value="sp500">S&P 500</option>
            <option value="nasdaq100">NASDAQ 100</option>
            <option value="fractionable">All fractionable equities</option>
            <input type="submit" value="Submit"/>
          </select>
        </form>
        <table id="portfolio">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
            </tr>
            <tr>
                {% for row in rows %}
            <tr>
               <td>{{row["symbol"]}}</td>
               <td>{{row["name"]}}</td>
            </tr>
         {% endfor %}
            <tr>
        </table>
        <a href="/flush">Flush DB</a>
    </body>
</html>