<!DOCTYPE html>
<html>
    <script>
      function searchName() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("portfolio");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      
      function filterSector() {
        // Declare variables
        
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("sector");
          filter = input.value;
          table = document.getElementById("portfolio");
          tr = table.getElementsByTagName("tr");
          console.log(filter)

          // Loop through all table rows, and hide those who don't match the search query
        
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  txtValue = td.innerText;
                  if (input.value == "all-sectors") {
                      tr[i].style.display = "";
                  }
                    else if (txtValue.indexOf(filter) > -1) {
                      tr[i].style.display = "";
                    } else {
                      tr[i].style.display = "none";
                    }
                }
              }
            }
      
    

    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .positive:before { content: "+"; color: 
green; }
        .positive { color: 
green; }
        .negative { color: 
red; }
        th, td { padding: 0.5em; }
        body { margin: 2em auto; max-width: 80em; }
    </style>

    <body>      
        <form action="/" method="post">
          <select name="index" id="index">
            <option selected disabled hidden>Index</option>
            <option value="sp500">S&P 500</option>
            <option value="nasdaq100">NASDAQ 100</option>
            <option value="fractionable">All fractionable equities</option>
            <input type="submit" value="Submit"/>
          </select>
<p></p>

          <input type="text" id="search" onkeyup="searchName()" placeholder="Search for name">

          <select id="sector" onchange="filterSector()">
            <option selected disabled hidden>Sectors</option>
            <option value="all-sectors">All sectors</option>
            <option>Industrials</option>
            <option>Health Care</option>
            <option>Information Technology</option>
            <option>Communication Services</option>
            <option>Consumer Staples</option>
            <option>Consumer Discretionary</option>
            <option>Utilities</option>
            <option>Financials</option>
            <option>Materials</option>
            <option>Real Estate</option>
            <option>Energy</option>
          </select>
          

         
        </form>
        <table id="portfolio">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Sector</th>
                <th>Remove from selection</th>
            </tr>
            <tr>
                {% for row in rows %}
            <tr>
               <td>{{row["symbol"]}}</td>
               <td>{{row["name"]}}</td>
               <td>{{row["sector"]}}</td>
               <td><input type="checkbox" id="remove" value="remove"></td>
            </tr>
         {% endfor %}
        </table>
    </body>
</html>